.todo{
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $indent * 2 $indent;
    margin: 0 auto;

    box-shadow: 1px 1px 5px #ccc;

    .form{
        display: inline-block;
        width: 100%;
    }

    .todo-input{
        padding: $indent * .7;
        width: 445px;
        

        &:focus{
            outline: none;
        }
    }

    .todo-list{
        padding: 0;
        width: 100%;
        list-style: none;
        
        li{
            padding: $indent * .6 $indent;
            background-color: rgb(127, 63, 228);
            color: #fff;
            margin-bottom: $indent;

            cursor: pointer;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}